*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  margin: auto;
  gap: 30px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 40px;
}

.content__list {
  overflow-x: hidden;
  overflow-y: auto;
  block-size: 298px;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__details {
  min-inline-size: 0;
  flex: 1;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  margin-bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-inline-size: 0;
}

.search-form__fieldset-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84 80 80 / 1);
}

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 3px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:active {
  text-decoration: none;
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}

.search-form__textfield {
  inline-size: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255 255 255 / 0.7);
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  appearance: none;
  outline: none;
}

.search-form__label {
  width: fit-content;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox:active {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #1b1919;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #1b1919;
}

.more-button:hover,
.search-form__submit-button:hover {
  text-decoration: underline;
}

.more-button:active,
.search-form__submit-button:active {
  background-color: #504f4f;
  text-decoration: none;
}

.more-button:focus-visible,
.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button:focus:not(:focus-visible),
.search-form__submit-button:focus:not(:focus-visible) {
  outline: none;
}

.content__card-link_current {
  background-color: #504f4f;
}
